{% extends "base.html" %}
{% block maincontent %}

<div class="col-md-9">
    <div class="row mt-3">
       
        <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Assign Tasks</h5>
                        
                    </div>
                </div>
            
        </div>
        
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Tasks</h5>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}


